@import './color.css';
@import './starting-style.css';
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*
h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}*/

.container4{
  background-image: url("../img/pinneaples/piñas_fondo_05.png");
  background-repeat: repeat-x;
  /*background-size: 100% 100%;*/
}

.navbar {
  padding: 2rem;
  /*background-color: #f5f6f7;*/
  background:transparent !important;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* principal section */
.principal {
  background-color: var(--light-bg-color);
  min-height: 450px;
  text-align: center;
}

.principal-superior {
  padding: 3rem;
}

.principal-image {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.principal-superior h2 {
  font-size: 1.5rem;
  color: var(--bs-orange);
}

/* about me section */
.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

.seccion-titulo {
  font-size: 2.5rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-texto {
  font-size: 1.2rem;
}

/* experience section */
.experiencia {
  padding: 40px 40px 60px 40px;
}

.seccion-clara {
  color: black;
  background-color: white;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}

/* projects section */
.proyectos-recientes {
  padding: 40px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: var(--bs-purple);
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto {
  position: relative;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

/* articles section */
.articulos {
  min-height: 500px;
  padding: 30 px;
}

.articulos .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}

.articulos .card-header {
  font-weight: bold;
}

/* responsive */
@media screen and (max-width: 767px) {
  .navbar-brand {
      display: none;
  }
}

@media screen and (min-width: 700px) {
  .principal-inferior-imagen {
      max-width: 600px;
  }
}

@media screen and (max-width: 400px) {
  .overlay p {
      font-size: 18px;
  }
  .overplay i {
      font-size: 40px;
  }
}
